{{define "authContent"}}

<form class="form-group w-25 mx-auto" action="/auth/register">
  <img class="mb-4" src="https://image.flaticon.com/icons/svg/167/167708.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-bold">Register</h1>
  <input name="username" class="form-control mb-2" placeholder="username" />
  <input name="password" class="form-control mb-2" type="password" placeholder="password" />
  <input type="submit" class="btn btn-primary mt-4" value="Get Started" />
  <p class="mt-5" style="color:black">© Book-Finder</p>
</form>

{{end}}