<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Book Finder</title>

  <!-- Bootstrap core CSS -->
  <link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div style="width: 85%; margin: auto;">
    <h4 class="text-center" style="padding-top: 10px">Search for your favourite book</h4>
    <br>
    <form id="search-form" action="/search">
      <div class="input-group mb-3 w-50 mx-auto">
        <input class="form-control" name="search" placeholder="Search..." />
        <div class="input-group-append">
          <input class="btn btn-outline-secondary" type="submit" value="Search" />
        </div>
      </div>
    </form>

    {{if .Query}}
    <h4 class="text-center" style="background-color: bisque; padding: 15px;">
      You searched for <em>{{.Query}}</em>
    </h4>
    <hr>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" width="40%">Title</th>
          <th scope="col" width="30%">Author</th>
          <th scope="col" width="10%">Year</th>
          <th scope="col" width="10%">ID</th>
          <th scope="col" width="10%"></th>
        </tr>
      </thead>
      <tbody>
        {{range .Books}}
        <tr>
          <td>{{.Title}}</td>
          <td>{{.Author}}</td>
          <td>{{.Year}}</td>
          <td>
            <form action="/addbook">
              <input type="hidden" name="bookId" value="{{.ID}}" />
              <input type="submit" value="Add" />
            </form>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  {{end}}

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>