{{define "content"}}
<h4 class="text-center" style="background-color: bisque; padding: 15px;">
  Showing <em>{{len .Results}}</em> results for <em>{{.Query}}</em>
</h4>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col" width="40%">Title</th>
      <th scope="col" width="30%">Author</th>
      <th scope="col" width="10%">Year</th>
      <th scope="col" width="10%"></th>
    </tr>
  </thead>
  <tbody style="text-align: left;">
    {{range .Results}}
    <tr>
      <td>{{.Title}}</td>
      <td>{{.Author}}</td>
      <td>{{.Year}}</td>
      <td>
        <form action="/addbook">
          <input type="hidden" name="bookId" value="{{.ID}}" />
          <input class="btn btn-info " type="submit" value="Add" />
        </form>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}